In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1 - Variáveis e amostragem

In [31]:
'''' Carregando o arquivo '''
dados = pd.read_csv("Arquivos/health_survey_data.csv")
print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   age              1000 non-null   int64
 2   gndr             1000 non-null   object
 3   visits_qtr1      1000 non-null   int64
 4   satisf_lvl       970 non-null    float64
 5   gluc_lvl         970 non-null    float64
 6   chronic_disease  1000 non-null   object
 7   income_lvl       1000 non-null   object
 8   ex_freq          1000 non-null   object
 9   region           1000 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 78.3+ KB
None

### A -	Classifique todas as variáveis do conjunto (nominal, ordinal, discreta, contínua).

In [32]:
variaveis_por_tipo = dados.columns.groupby(dados.dtypes)
for tipo, nomes in variaveis_por_tipo.items():
    display(f"Tipo: '{tipo}':{list(nomes)}")

"Tipo: 'int64':['id', 'age', 'visits_qtr1']"

"Tipo: 'float64':['satisf_lvl', 'gluc_lvl']"

"Tipo: 'object':['gndr', 'chronic_disease', 'income_lvl', 'ex_freq', 'region']"

### B - Verifique quais variáveis precisam de limpeza (valores faltantes, outliers, codificação inconsistente).

In [33]:
dados = dados.dropna(axis=0) # Excluindo valores ausentes
display(dados)

,id,age,gndr,visits_qtr1,satisf_lvl,gluc_lvl,chronic_disease,income_lvl,ex_freq,region
0,1,69,F,2,4.0,129.3,No,Medium,Often,R3
1,2,32,M,1,3.0,90.4,No,Low,Often,R3
2,3,89,F,3,2.0,105.8,No,Low,Sometimes,R2
3,4,78,M,5,3.0,114.0,Yes,Medium,Rarely,R2
5,6,41,F,3,3.0,85.8,No,Medium,Often,R3
...,...,...,...,...,...,...,...,...,...,...
995,996,27,F,3,2.0,120.4,Yes,Low,Often,R4
996,997,51,M,6,5.0,52.1,No,Medium,Sometimes,R3
997,998,72,M,3,3.0,95.6,Yes,Low,Rarely,R2
998,999,49,M,0,2.0,112.0,No,Medium,Sometimes,R3
999,1000,67,F,2,3.0,89.7,No,Medium,Rarely,R4

In [34]:
display(dados.describe())

                id         age  visits_qtr1  satisf_lvl    gluc_lvl
count   942.000000  942.000000   942.000000  942.000000  942.000000
mean    499.730361   53.115711     2.449045    2.930998  100.961890
std     287.651540   20.974464     1.594709    1.118160   20.485645
min       1.000000   18.000000     0.000000    1.000000   34.100000
25%     250.250000   35.000000     1.000000    2.000000   86.725000
50%     498.500000   53.000000     2.000000    3.000000  101.250000
75%     749.750000   71.000000     3.000000    4.000000  115.200000
max    1000.000000   89.000000     9.000000    5.000000  155.500000

### C - Extraia uma amostra aleatória de 100 elementos e verifique se ela é representativa da população.

In [37]:
amostra = dados.sample(n=100) # Retornando amostra aleatória de 100 itens dos dados. 
display(amostra)

,id,age,gndr,visits_qtr1,satisf_lvl,gluc_lvl,chronic_disease,income_lvl,ex_freq,region
992,993,72,F,4,3.0,128.3,Yes,Medium,Sometimes,R2
332,333,87,M,3,3.0,98.3,No,High,Sometimes,R1
312,313,37,M,0,3.0,90.4,Yes,Low,Sometimes,R4
476,477,35,M,0,5.0,127.4,Yes,Low,Sometimes,R1
997,998,72,M,3,3.0,95.6,Yes,Low,Rarely,R2
...,...,...,...,...,...,...,...,...,...,...
472,473,56,F,4,3.0,115.8,Yes,High,Often,R2
239,240,65,F,1,4.0,136.4,No,Medium,Sometimes,R1
61,62,79,F,1,3.0,87.8,No,Medium,Sometimes,R1
107,108,44,M,1,5.0,109.1,No,Low,Always,R4
327,328,75,M,1,3.0,83.3,No,Low,Rarely,R2